$blue: #2E81FD;
$blue-gray: #475569;
$border-color: #EAECF0;
$dark-blue: #1657C2;
$font: 'Inter', sans-serif;
$font-size: 16px;
$footer-font: 'Roboto Flex', sans-serif;
$grey: #4D4D4D;
$light-blue: #5398FF;
$light-gray: #F7F8FB;
$logo-font: 'Rubik', serif;