@import 'fonts';
@import 'vars';
@import 'reset';
@import 'global';
@import 'header';
@import 'accidents';
@import 'footer';
@import 'burger';

.main {
    &__accidents-header {
        margin-top: 148px;
        margin-bottom: 40px;
    }
}

.left-ellipse {
    position: absolute;
    top: 390px;
    left: 0;
}
.right-ellipse {
    position: absolute;
    top: 590px;
    right: 0;
}

@media (max-width: 930px) {
    .main {
        &__accidents-header {
            margin-top: 132px;
            margin-bottom: 20px;
        }
    }
    .left-ellipse, .right-ellipse {
        display: none;
    }
}

@media (max-width: 760px) {
    .main {
        &__accidents-header {
            margin-top: 120px;
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 460px) {
    .main {
        &__accidents-header {
            margin-top: 94px;
        }
    }
}